[submodule "nubomedia-cdn-connector"]
	path = nubomedia-cdn-connector
	url = https://github.com/nubomedia/nubomedia-cdn-connector.git
[submodule "nubomedia-ims-connector"]
	path = nubomedia-ims-connector
	url = https://github.com/nubomedia/nubomedia-ims-connector.git
